body {
    background-color:black;
  
}
#area {
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    position:relative;
    top:200px;
    left:200px;
    height: 200px;
    width:200px;
}
#cube {
    position:absolute;
    top:0px;
    left:0px;
    height:200px;
    width:200px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotate-cube 20s infinite ;
    -webkit-transform-origin: 50% 50%;
}
.side{
    height:190px;
    width:190px;
    line-height:190px;
    text-align:center;
    font-size:50px;
    font-family:helvetica; 
    font-weight: bold;
    color:white;
    position:absolute;
    -webkit-transform-origin: 50% 50%;
}
.side.front{
    -webkit-transform:rotateY(0deg) translateZ(100px);
    background-color: rgba(255,0,255,0.5) ;
    border:5px white solid;
    -webkit-backface-visibility:visible;
}

.side.back{
    -webkit-transform:rotateY(180deg) rotateZ(-90deg) translateZ(100px) ;
    background-color:rgba(0,255,0,0.5);
    border:5px white solid;
     -webkit-backface-visibility:visible;
}

.side.bottom{
    -webkit-transform:rotateX(-90deg)  translateZ(100px);
    background-color: rgba(0,255,255,0.5);
    border:5px white solid;
   -webkit-backface-visibility:visible;
}
.side.top{
    -webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(100px) ;
    background-color:rgba(255,255,0,0.5);
    border:5px white solid;
    -webkit-backface-visibility:visible;
}

.side.right{
    -webkit-transform:rotateY(90deg) rotateZ(-90deg)  translateZ(100px) ;
    background-color: rgba(0,0,255,0.5);
    border:5px white solid;
  -webkit-backface-visibility:visible;
}

.side.left{
    -webkit-transform:rotateY(-90deg) translateZ(100px);
    background-color: rgba(255,0,255,0.5);
    border:5px white solid;
    -webkit-backface-visibility:visible;
}

@-webkit-keyframes rotate-cube {
    0%   {
    -webkit-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%   {
    -webkit-transform:rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
    33%   {
    -webkit-transform:rotateX(90deg) rotateY(0deg) rotateZ(90deg);
    }
    50%   {
    -webkit-transform:rotateX(180deg) rotateY(0deg) rotateZ(90deg);
    }
    66%   {
    -webkit-transform:rotateX(180deg) rotateY(90deg) rotateZ(90deg);
    }
    83%   {
    -webkit-transform:rotateX(180deg) rotateY(90deg) rotateZ(180deg);
    }
    100%   {
    -webkit-transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
