body {
-webkit-perspective:   1000px;
-webkit-perspective-origin: 200px -150px;
}
#top{
background-color:pink; 
top:   120px;
left:  70px;
width:   200px;
height:  200px;
-webkit-transform-style: preserve-3d;
-webkit-transform:  translateX(-20%) rotateY(-45deg);
}
#box {
 top:  -100px;
width:   200px;
height:  200px;
background-color:purple;
-webkit-transform:  rotateY(90deg) rotateX(90deg) translate(50%, -50%);
}

#left {
top:   0px;
width:   200px;
height:  200px;
background-color: skyblue;
-webkit-transform:  rotateY(90deg) translateX(50%);
}