body {
    background-color:black;
    font-size:35px;
  
}
#area {
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    position:relative;
    top:200px;
    left:200px;
    height: 200px;
    width:200px;

}
#cube {
    position:absolute;
    top:0px;
    left:0px;
    height:200px;
    width:200px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotate-cube 20s infinite ;
    -webkit-transform-origin: 50% 50%;
}
.side{
    height:190px;
    width:190px;
    border:5px rgba(215,215,215,1) solid;
    color:#000;
    line-height:190px;
    text-align:center;
    font-size:35px;
    font-family: 'Marker Felt', "Comic Sans MS",fantasy;
    text-transform:lowercase;
    text-shadow:
        1px 0px #fff,
        0px 1px #fff,
        0px -1px #fff,
        -1px 0px #fff,
        -1px 1px #fff,
        -1px -1px #fff,
        1px 1px #fff;
    position:absolute;
    border-radius:60px;
    background-color: rgba(215,215,215,1) ;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;


}
.side.front{
    -webkit-transform:rotateY(0deg) translateZ(100px);
    background: rgba(255,0,0,0.5) ;
    z-index:1;
    border:5px rgba(255,255,255,1) solid;
    -webkit-backface-visibility:                  hidden;
}

.side.back{
    -webkit-transform:rotateY(180deg) rotateZ(-90deg) translateZ(100px) ;
    background: rgba(255,255,0,0.5);
    z-index:1;
    border:5px rgba(255,255,255,1) solid;
    -webkit-backface-visibility:                  hidden;
}

.side.bottom{
    -webkit-transform:rotateX(-90deg)  translateZ(100px);
    background: rgba(0,255,0,0.5);
    z-index:1;
    border:5px rgba(255,255,255,1) solid;
    -webkit-backface-visibility:                  hidden;
}
.side.top{
    -webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(100px) ;
    background: rgba(0,255,255,0.5);
    z-index:1;
    border:5px rgba(255,255,255,1) solid;
    -webkit-backface-visibility:                  hidden;
}

.side.right{
    -webkit-transform:rotateY(90deg) rotateZ(-90deg)  translateZ(100px) ;
    background: rgba(0,0,255,0.5);
    z-index:1;
    border:5px rgba(255,255,255,1) solid;
    -webkit-backface-visibility:                  hidden;
}

.side.left{
    -webkit-transform:rotateY(-90deg) translateZ(100px);
    background: rgba(255,0,255,0.5);
    z-index:1;
    border:5px rgba(255,255,255,1) solid;
    -webkit-backface-visibility:                  hidden;
}

@-webkit-keyframes rotate-cube {
    0%   {
    -webkit-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16.66%   {
    -webkit-transform:rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
    33.33%   {
    -webkit-transform:rotateX(90deg) rotateY(0deg) rotateZ(90deg);
    }
    50%   {
    -webkit-transform:rotateX(180deg) rotateY(0deg) rotateZ(90deg);
    }
    66.66%   {
    -webkit-transform:rotateX(180deg) rotateY(90deg) rotateZ(90deg);
    }
    83.33%   {
    -webkit-transform:rotateX(180deg) rotateY(90deg) rotateZ(180deg);
    }
    100%   {
    -webkit-transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
